body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header header"
                         "navbar navbar navbar"
                         "
                         
}

header{
    background-color: aqua;
    border-top: 10px  solid greenyellow;
    height: 78vh;
}
